lumiere.json
{
  "name": "Lumière - Personal Chef (Perfil & Receita)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal-chef",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "webhook-personal",
      "name": "1. Webhook (Receber Perfil)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fdn4t2lIma5JQazo",
          "name": "Lumiere Auth"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        240
      ],
      "id": "gemini-model-chef",
      "name": "Modelo Gemini (Flash)",
      "credentials": {
        "googlePalmApi": {
          "id": "lEoLgDd1fZPUaRex",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Chef Executivo com PhD em Nutrição Esportiva. Sua missão é criar uma receita de Alta Gastronomia ultra-personalizada.\n\nPERFIL DO CLIENTE:\n- Peso: {{ $json.body.weight || 'N/A' }} kg\n- Altura: {{ $json.body.height || 'N/A' }} cm\n- Objetivo: {{ $json.body.goal === 'loss' ? 'Perder Gordura (Deficit Calórico)' : $json.body.goal === 'gain' ? 'Ganhar Massa (Superávit Controlado)' : 'Manutenção Saudável' }}\n- Ingredientes Disponíveis: {{ $json.body.ingredients }}\n- Restrições: {{ $json.body.restrictions || 'Nenhuma' }}\n- Idioma: {{ $json.body.locale }}\n\nTAREFA:\nCrie uma receita completa que utilize os ingredientes disponíveis, mas elevados a um nível gourmet. \n\nREGRAS CRÍTICAS DE RESPOSTA:\n1. Retorne APENAS um JSON válido. Não use blocos de código markdown (```json).\n2. O JSON deve seguir ESTRITAMENTE esta estrutura:\n{\n  \"title\": \"Nome Sofisticado do Prato\",\n  \"description\": \"Descrição curta e elegante em {{ $json.body.locale }}\",\n  \"prepTime\": \"tempo estimado\",\n  \"portions\": \"1\",\n  \"difficulty\": \"Média\",\n  \"complexityRating\": \"Elaborada\",\n  \"ingredients\": [\"Lista\", \"de\", \"Ingredientes\"],\n  \"instructions\": [\"Passo 1...\", \"Passo 2...\"],\n  \"platingTips\": \"Dicas de empratamento de luxo\",\n  \"visualDescription\": \"Descrição detalhada em INGLÊS para gerar uma foto realista (food photography style)\",\n  \"macros\": {\n    \"calories\": \"XXX kcal\",\n    \"protein\": \"XXg\",\n    \"carbs\": \"XXg\",\n    \"fat\": \"XXg\"\n  },\n  \"functionalNotes\": \"Explicação de como este prato ajuda no objetivo {{ $json.body.goal }}\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "ai-chef-agent",
      "name": "2. Agente: Personal Chef & Nutri"
    },
    {
      "parameters": {
        "jsCode": "// Parse do JSON gerado pelo Chef para usar no gerador de imagem\nconst aiResponse = items[0].json.output;\nlet recipe;\n\ntry {\n  // Tenta limpar markdown se houver\n  const cleanJson = aiResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n  recipe = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error(\"Falha ao parsear JSON da receita: \" + e.message);\n}\n\nreturn [\n  {\n    json: {\n      recipe: recipe,\n      imagePrompt: recipe.visualDescription\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        0
      ],
      "id": "parse-recipe",
      "name": "3. Parser da Receita"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-3.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-3.0-generate-001"
        },
        "prompt": "={{ $json.imagePrompt }} -- aspect ratio 16:9, hyper-realistic food photography, 8k, michelin star plating, dramatic lighting",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "generate-dish-image",
      "name": "4. Gerar Foto do Prato",
      "credentials": {
        "googlePalmApi": {
          "id": "NkpCNSuWxaIeKDzF",
          "name": "Cris"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combina a receita (JSON) com a imagem (Base64) para retorno final\nconst binaryData = items[0].binary.data;\nconst recipeData = items[0].json.recipe;\n\n// Prepara o base64 para o front-end\nconst base64Image = `data:${binaryData.mimeType};base64,${binaryData.data}`;\n\n// Injeta a imagem no objeto da receita\nrecipeData.imageUrl = base64Image;\nrecipeData.videoUrl = null; // Vídeo será gerado sob demanda nos passos\n\nreturn [\n  {\n    json: recipeData\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        0
      ],
      "id": "merge-response",
      "name": "5. Formatar Resposta"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        0
      ],
      "id": "response-node",
      "name": "6. Responder ao Next.js"
    }
  ],
  "connections": {
    "1. Webhook (Receber Perfil)": {
      "main": [
        [
          {
            "node": "2. Agente: Personal Chef & Nutri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Gemini (Flash)": {
      "ai_languageModel": [
        [
          {
            "node": "2. Agente: Personal Chef & Nutri",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2. Agente: Personal Chef & Nutri": {
      "main": [
        [
          {
            "node": "3. Parser da Receita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Parser da Receita": {
      "main": [
        [
          {
            "node": "4. Gerar Foto do Prato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Gerar Foto do Prato": {
      "main": [
        [
          {
            "node": "5. Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Formatar Resposta": {
      "main": [
        [
          {
            "node": "6. Responder ao Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}